.Animate{
    height:400px;
    width:100%;
    /* border:1px solid green; */

}
.App-header{
    height:100%;
    width:100%;
    /* border:1px solid red; */
}
.App-logo{
    height:100%;
    width:100%;
}